<%= link_to "New Item", new_item_path %>
<h1>All the items</h1>
<%= div_for @items do |item| %>
  <p><%= best_in_place item, :name, :as => :input %></p>
  <p><%= best_in_place item, :description, :as => :input  %></p>
<% end %>
